@page
@model OrtizAbrahamSprint3.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}


@*Hero img row*@
<div class="row m-0">
    <div class="col-md-7 cover-img-container order-md-0 order-1">
        <img src="~/images/aboutus/cover.jpeg" class="cover-img" alt="Veracruz State Performance" />
    </div>
    <div class="col-md-5 title-cover-container order-md-1 order-0">
        <h1 class="title-cover">
            YOLOTZIN FOLKLORIC BALLET
            <span class="title-about-us-color">CULTURE</span>, 
            <span class="title-about-us-color">DANCE</span>,
            <span class="title-about-us-color">DISCIPLINE</span> AND
            <span class="title-about-us-color">FUN</span>!

        </h1>
    </div>
</div>

@*Unique spirit row*@
<div class="row m-0">
    <div class="col-md-5 title-unique-container">
        <h1 class="title-unique">
            WE HAVE AN  
            <span class="title-about-us-color">UNIQUE SPIRIT</span>!
        </h1>
        <p>

            At Yolotzin, each dance step brings Mexican heritage to life. Our studio celebrates tradition, blending folkloric dance with ballet and jazz
            to create a space where dancers of all levels connect with the heart of Mexico.
        </p>
    </div>
    <div class="col-md-7 unique-img-container">
        <img src="~/images/aboutus/unique.jpeg" class="unique-img" alt="Chihuahua State Performance" />
    </div>
</div>

@*Journey starts here row*@
<div class="row m-0">
    <div class="col-md-5 title-journey-container order-md-1 order-0">
        <h1 class="title-journey">
            YOUR
            <span class="title-about-us-color">JOURNEY</span>
            STARTS HERE!
        </h1>
        <p>

            Choosing Yolotzin is more than dance; it's a journey into Mexican folklore. 
            Here, you join a community dedicated to cultural understanding and artistic growth in an environment rich with 
            history and rhythm.
        </p>
    </div>
    <div class="col-md-7 journey-img-container order-md-0 order-1">
        <img src="~/images/aboutus/journey.jpg" class="journey-img" alt="Sinaloa State Performance" />
    </div>
</div>

@*Director row*@
<div class="row m-0">
    <div class="col-md-5 title-director-container">
        <h1 class="title-director">
            "FOR ME, DANCE IS A WAY TO
            <span class="title-about-us-color">CONNECT</span> WITH MY
            <span class="title-about-us-color">ROOTS</span> AND SHARE THAT GIFT. YOLOTZIN IS A
            <span class="title-about-us-color">FAMILY</span>, CELEBRATING MEXICO’S STORIES
            <span class="title-about-us-color">TOGETHER</span>."

        </h1>
        <p class="name-director">- Jose Luis Mejia Contreras, Director</p>
    </div>

    <div class="col-md-7 director-img-container">
        <img src="~/images/aboutus/director.png" class="director-img" alt="Director Photo"/>
    </div>
</div>

@*Company members row*@
<div class="members-container">
    <h1 class="title-members">Dancers</h1>

    <div class="container-info-members">
        <div>
            <img src="~/images/aboutus/dancers/1.png" class="photo-members" alt="Lucia Photo Member"/>
            <p class="name-member">Lucia Reyna</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/2.png" class="photo-members" alt="Abraham Photo Member" />
            <p class="name-member">Abraham Ortiz</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/3.png" class="photo-members" alt="Danna Photo Member" />
            <p class="name-member">Danna Mosqueda</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/4.png" class="photo-members" alt="Daniel Photo Member" />
            <p class="name-member">Daniel Antonio</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/5.png" class="photo-members" alt="Andrea Photo Member" />
            <p class="name-member">Andrea Mestizo</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/6.png" class="photo-members" alt="Rafael Photo Member" />
            <p class="name-member">Rafael Montesinos</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/7.png" class="photo-members" alt="Cinthia Photo Member" />
            <p class="name-member">Cinthia Tolentino</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/8.png" class="photo-members" alt="Andre Photo Member" />
            <p class="name-member">Andre Sanchez</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/9.png" class="photo-members" alt="Katzeni Photo Member" />
            <p class="name-member">Katzeni Hernandez</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/10.png" class="photo-members" alt="Ernesto Photo Member" />
            <p class="name-member">Ernesto Ramirez </p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/11.png" class="photo-members" alt="Montserrat Photo Member" />
            <p class="name-member">Montserrat Ramos</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/12.png" class="photo-members" alt="Alberto Photo Member" />
            <p class="name-member">Alberto Aramburu </p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/13.png" class="photo-members" alt="Donaji Photo Member" />
            <p class="name-member">Donaji Rosas</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/14.png" class="photo-members" alt="Edgar Photo Member" />
            <p class="name-member">Edgar Capilla</p>
        </div>
        <div>
            <img src="~/images/aboutus/dancers/15.png" class="photo-members" alt="Dinora Photo Member" />
            <p class="name-member">Dinora Gonzales</p>
        </div>
    </div>
</div>
