@page
@model OrtizAbrahamSprint3.Pages.ClassesModel
@{
    ViewData["Title"] = "Classes";
}

@*This is the services page, but I think the name classes sounds better in this context*@

@*Hero image row*@
<div class="row m-0">
    <div class="col-md-7 hero-img-container">
        <img src="~/images/classes/hero.jpg" class="hero-img" alt="Nayarit State Performance" />
    </div>
    <div class="col-md-5 title-hero-container">
        <h1 class="title-hero">
            Ready to
            <span class="title-about-us-color">AUDITION</span>?

        </h1>
        <a class="btn button-cta my-2" asp-page="/Registrations" asp-route-age="4" asp-route-level="4" asp-route-style="1">Register Here</a>


    </div>
</div>

@*Title begins row*@
<div>
    <div id="classes-begin" class="title-classes-container">
        <h2 class="title-classes">
            DON'T FEEL READY YET?
        </h2>
        <h2 class="title-classes">THESE ARE THE <span class="title-about-us-color">CLASSES</span> WE HAVE FOR YOU!</h2>
    </div>
    <div class="paragraph-classes">
        <p>
            At Yolotzin Dance Studio, we offer a wide variety of dance classes for all ages and experience levels.
            From folklor to jazz and ballet, you’re sure to find the ideal class to match your passion and skill.
            Join us and  <span class="title-about-us-color">discover the joy of dance</span> in every step!
        </p>
    </div>
</div>

@*Services options row*@
<div class="classes-option-container">
    <div class="class-option-container">
        <img src="~/images/classes/1.png" class="class-img" alt="Folklore Child" />
        <h3>Folklore for Children</h3>
        <span> (Ages 4-10 years old)</span>
        <div class="level-options">
            <a class="level-btn" asp-page="/Registrations" asp-route-age="1" asp-route-level="1" asp-route-style="1">Bsc</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="1" asp-route-level="2" asp-route-style="1">Med</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="1" asp-route-level="3" asp-route-style="1">Adv</a>
        </div>
    </div>
    <div class="class-option-container">
        <img src="~/images/classes/2.png" class="class-img" alt="Folklore Youth" />
        <h3>Folklore for Youth</h3>
        <span> (Ages 11-17 years old)</span>
        <div class="level-options">
            <a class="level-btn" asp-page="/Registrations" asp-route-age="2" asp-route-level="1" asp-route-style="1">Bsc</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="2" asp-route-level="2" asp-route-style="1">Med</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="2" asp-route-level="3" asp-route-style="1">Adv</a>
        </div>
    </div>
    <div class="class-option-container">
        <img src="~/images/classes/3.png" class="class-img" alt="Folklore Adult" />
        <h3>Folklore for Adults</h3>
        <span>(Ages 18+)</span>
        <div class="level-options">
            <a class="level-btn" asp-page="/Registrations" asp-route-age="3" asp-route-level="1" asp-route-style="1">Bsc</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="3" asp-route-level="2" asp-route-style="1">Med</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="3" asp-route-level="3" asp-route-style="1">Adv</a>
        </div>
    </div>
    <div class="class-option-container">
        <img src="~/images/classes/4.png" class="class-img" alt="Jazz Contempo" />
        <h3>Jazz Contempo</h3>
        <span> (All Ages)</span>
        <div class="level-options">
            <a class="level-btn" asp-page="/Registrations" asp-route-age="4" asp-route-level="1" asp-route-style="2">Bsc</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="4" asp-route-level="2" asp-route-style="2">Med</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="4" asp-route-level="3" asp-route-style="2">Adv</a>
        </div>
    </div>
    <div class="class-option-container">
        <img src="~/images/classes/5.png" class="class-img" alt="Ballet" />
        <h3>Ballet</h3>
        <span> (All ages)</span>
        <div class="level-options">
            <a class="level-btn" asp-page="/Registrations" asp-route-age="4" asp-route-level="1" asp-route-style="3">Bsc</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="4" asp-route-level="2" asp-route-style="3">Med</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="4" asp-route-level="3" asp-route-style="3">Adv</a>
        </div>
    </div>

    <div class="class-option-container">
        <img src="~/images/classes/6.png" class="class-img" alt="Ballet" />
        <h3>Stretching</h3>
        <span> (All ages)</span>
        <div class="level-options">
            <a class="level-btn" asp-page="/Registrations" asp-route-age="4" asp-route-level="1" asp-route-style="4">Bsc</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="4" asp-route-level="2" asp-route-style="4">Med</a>
            <p>|</p>
            <a class="level-btn" asp-page="/Registrations" asp-route-age="4" asp-route-level="3" asp-route-style="4">Adv</a>
        </div>
    </div>
</div>

@*Important information row*@
<div class="information-register-container">
    <p>
        To register for any class or audition, please click the corresponding button. 
        You may also contact us via our official phone number, email, or in person at our location.
    </p>
</div>

@*Hope to see you row*@
<div class="looking-classes-container">
    <h2 class="title-classes">
        <span class="title-about-us-color">READY TO DANCE?</span>
    </h2>
    <h2 class="title-looking">
        WE ARE LOOKING FORWARD TO SEEING YOU!
    </h2>
</div>