@page
@model OrtizAbrahamSprint3.Pages.SignInModel
@{
    ViewData["Title"] = "Sign In";
}

@*Title rows*@
<div class="sign-up-title">
    <h1>Sign in to your profile</h1>
</div>

@*Form rows*@
<form method="post" class="all-data-container">
    @*Username row*@
    <div class="enter-data-container">
        <label>Username</label>
        <input asp-for="Username" type="text" />
        <span asp-validation-for="Username"></span>
    </div>
    @*Password row*@
    <div class="enter-data-container">
        <label>Password</label>
        <input asp-for="UserPassword" type="text" />
        <span asp-validation-for="UserPassword"></span>
    </div>
    @*Buttons rows*@
    <div class="data-buttons-container">
        <input asp-page-handler="ClearForm" type="submit" value="Clear Form" class="clear-button" />
        <input asp-page-handler="AddUser" type="submit" value="Add User" class="submit-button" />
    </div>
</form>

@*Row link to sign up*@

<div class="link-to-sign-container">
    <p>Don't have an account yet?</p>
    <a asp-area="" asp-page="/SignUp">Sign up</a>
</div>

