@page
@model OrtizAbrahamSprint3.Pages.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}


@*Title rows*@
<div class="sign-up-title">
    <h1>Ready to join to YOLOTZIN?</h1>
    <p>Please enter the following information</p>
</div>

@*Form rows*@
<form method="post" class="all-data-container">   
    @*First name row*@
    <div class="enter-data-container">
        <label>First name</label>
        <input asp-for="FirstName" type="text" />
        <span asp-validation-for="FirstName"></span>
    </div> 
    @*Last name row*@
    <div class="enter-data-container">
        <label>Last name</label>
        <input asp-for="LastName" type="text" />
        <span asp-validation-for="LastName"></span>
    </div>
    @*Email row*@
    <div class="enter-data-container">
        <label>Email</label>
        <input asp-for="EmailAddress" type="text" />
        <span asp-validation-for="EmailAddress"></span>

    </div>
    @*Phone number row*@
    <div class="enter-data-container">
        <label>Phone number</label>
        <input asp-for="PhoneNumber" type="tel" />
        <span asp-validation-for="PhoneNumber"></span>

    </div>
    @*Date of birth row*@
    <div class="enter-data-container">
        <label>Date of birth</label>
        <input asp-for="Birthday" type="date" />
        <span asp-validation-for="Birthday"></span>

    </div>
    @*Username row*@
    <div class="enter-data-container">
        <label>Username</label>
        <input asp-for="Username" type="text" />
        <span asp-validation-for="Username"></span>
    </div>
    @*Password row*@
    <div class="enter-data-container">
        <label>Password</label>
        <input asp-for="UserPassword" type="text" />
        <span asp-validation-for="UserPassword"></span>
    </div>
    @*Buttons rows*@
    <div class="data-buttons-container">
        <input asp-page-handler="ClearForm" type="submit" value="Clear Form" class="clear-button"/>
        <input asp-page-handler="AddUser" type="submit" value="Add User" class="submit-button"/>
    </div>
</form>


@*Link to sign in row*@
<div class="link-to-sign-container">
    <p>Do you want to sign in?</p>
    <a asp-area="" asp-page="/SignIn">Sign in</a>
</div>
